@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 400px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

body{
  box-sizing: border-box;
  background-color: #F8F1F0;
  margin: 0px;
  padding: 0px;
}

p1{
  text-transform: uppercase;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #204C73;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
}

.heading {
  color: #F8F1F0;
  letter-spacing: 5px;
  font-size: 20px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 50%;
  padding-left: 100px;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: #F8F1F0;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
  padding: 18px 18px;
}

.nav-links a:hover:not(.active) {
  color: #7A6564;
}

.container{
  justify-content: space-between;
  flex-direction: column;
  align-items:center;
  display: flex;
  padding-left: 10px;
  padding-right: 0px;
  margin: 0px;
  padding-top: 100px;
}